@import './variable.scss';

.btn {
  padding: 8px 12px;
  border: 1px solid $pear-primary-color;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
}

.test-img {
  width: 500px;
  margin-top: 16px;
}
