@import './variable.scss';
@import './base.scss';

.tabs {
  &-nav {
    display: flex;
    color: #4a4a4a;
    border-bottom: 1px solid #eee;
    position: relative;

    &-item {
      cursor: pointer;
      padding: 8px 16px;

      &.selected {
        color: $pear-primary-color;
      }
    }
  }

  &-indicator {
    height: 2px;
    width: 20px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background: $pear-primary-color;
    transition: all 0.25s ease-in-out;
  }

  &-content {
    padding: 8px 0;
  }
}
