node_modules

packages/components/dist/es
packages/components/dist/lib
packages/components/coverage

packages/utils/dist/es
packages/utils/dist/lib

docs/.vitepress/dist
docs/.vitepress/cache

vite.config.ts.timestamp-*.mjs