.collapse-box {
  border-top: 1px solid #e4e7ed;
  border-bottom: 1px solid #e4e7ed;
}

.collapse-item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  line-height: 48px;
  background-color: #ffffff;
  color: #303133;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  transition: border-bottom-color 0.3s;
  outline: none;
  border-bottom: 1px solid #e4e7ed;

  &.is-disabled {
    color: #a8abb2;
    cursor: not-allowed;
    background-image: none;
  }

  &.is-active {
    border-bottom-color: transparent;

    .header-angle {
      transform: rotate(90deg);
    }
  }

  .header-angle {
    transition: transform 0.3s;
  }
}

.collapse-item__content {
  will-change: height;
  background-color: #ffffff;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 13px;
  color: #303133;
  border-bottom: 1px solid #e4e7ed;
  padding-bottom: 25px;
}

.slide-enter-active,
.slide-leave-active {
  transition: height 0.3s;
}
